In [80]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.ensemble import RandomForestClassifier

In [81]:
data = pd.read_excel("test.xlsx")
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [82]:
data=data[data["power"]>100]
data.shape

(756, 10)

In [83]:
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [84]:
# find categorical variables
categorical = [var for var in data.columns if data[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :', categorical)

There are 3 categorical variables

The categorical variables are : ['date_shamsi', 'code', 'fuel_type']

In [85]:
# print categorical variables containing missing values
cat1 = [var for var in categorical if data[var].isnull().sum()!=0]
print(data[cat1].isnull().sum())

fuel_type    248
dtype: int64

In [86]:
data.isnull().sum()

hour             0
date_miladi      0
date_shamsi      0
code             0
unit_no          0
fuel_type      248
mvar             0
temp             0
moisture         0
power            0
dtype: int64

In [87]:
data['fuel_type'].value_counts()

A    508
Name: fuel_type, dtype: int64

In [88]:
# Change object to integer:
data["fuel_type"][data["fuel_type"]=="A"] = 1 
data["fuel_type"][data["fuel_type"]=="B"] = 2
data["fuel_type"][data["fuel_type"]=="C"] = 3

<ipython-input-88-57e8e137ba12>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["fuel_type"][data["fuel_type"]=="B"] = 2
<ipython-input-88-57e8e137ba12>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["fuel_type"][data["fuel_type"]=="C"] = 3

In [89]:
data['fuel_type'].value_counts()

1    508
Name: fuel_type, dtype: int64

In [90]:
data["fuel_type"].fillna(method='bfill', inplace=True)

In [91]:
data.isnull().sum()

hour           0
date_miladi    0
date_shamsi    0
code           0
unit_no        0
fuel_type      0
mvar           0
temp           0
moisture       0
power          0
dtype: int64

In [92]:
data.fillna(data.mean, inplace=True)

In [93]:
X = data[["moisture","unit_no","fuel_type","temp"]]
y = data[["power"]]
y

     power
0      119
1      119
2      120
3      120
4      121
..     ...
994    110
995    127
996    127
997    124
998    126

[756 rows x 1 columns]

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [95]:
# Training the Decision Tree Regression model on the whole dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [96]:
y_pred=regressor.predict(X_test)
y_pred.shape

(227,)

In [97]:
y_pred

array([109.        , 127.        , 125.        , 110.        ,
       125.        , 110.        , 120.        , 114.66666667,
       109.        , 114.        , 109.        , 110.        ,
       108.        , 116.        , 116.        , 125.        ,
       115.        , 130.        , 132.        , 133.        ,
       118.        , 128.        , 131.        , 125.        ,
       118.        , 118.        , 125.        , 147.        ,
       114.        , 116.        , 108.        , 148.        ,
       125.        , 131.        , 125.        , 115.        ,
       119.        , 116.        , 128.        , 127.        ,
       132.        , 114.        , 125.        , 138.        ,
       137.        , 140.        , 130.        , 110.        ,
       119.        , 115.        , 147.        , 110.        ,
       110.        , 110.        , 146.        , 118.        ,
       118.        , 110.        , 127.        , 125.        ,
       125.        , 148.        , 140.        , 114.        ,
       115.        , 125.        , 110.        , 130.        ,
       114.        , 147.        , 118.        , 125.        ,
       120.        , 110.        , 115.        , 115.        ,
       127.        , 119.        , 113.        , 128.        ,
       107.        , 112.        , 110.        , 117.        ,
       106.        , 128.        , 119.        , 133.5       ,
       135.        , 128.        , 118.        , 115.        ,
       114.        , 125.        , 146.        , 115.        ,
       116.        , 134.        , 128.        , 118.        ,
       120.66666667, 132.        , 125.        , 119.        ,
       120.        , 137.        , 137.        , 128.        ,
       106.        , 115.        , 133.        , 130.5       ,
       125.        , 126.        , 147.        , 128.        ,
       115.        , 146.5       , 147.        , 128.        ,
       134.        , 135.        , 146.5       , 106.        ,
       125.        , 105.        , 116.        , 138.        ,
       110.        , 109.        , 135.        , 128.        ,
       130.        , 105.        , 127.        , 130.        ,
       138.        , 133.        , 146.        , 135.        ,
       132.        , 120.        , 127.        , 147.        ,
       133.        , 147.        , 115.        , 115.        ,
       147.        , 132.        , 108.        , 112.        ,
       135.        , 125.        , 125.        , 115.        ,
       130.        , 125.        , 117.        , 130.        ,
       128.        , 118.        , 115.        , 114.        ,
       125.        , 126.        , 130.        , 137.        ,
       110.        , 115.        , 116.        , 107.        ,
       114.        , 116.        , 130.        , 115.        ,
       127.        , 148.        , 140.        , 119.        ,
       109.        , 125.75      , 110.        , 115.        ,
       137.        , 137.        , 146.        , 118.        ,
       133.        , 125.        , 110.        , 118.        ,
       130.        , 125.        , 138.        , 118.        ,
       130.        , 115.        , 147.        , 125.        ,
       109.        , 125.        , 148.        , 118.        ,
       133.5       , 147.5       , 138.        , 130.        ,
       118.        , 130.        , 127.        , 130.        ,
       118.        , 113.        , 119.        , 114.        ,
       112.        , 130.        , 110.        , 127.        ,
       113.        , 127.        , 125.        , 136.        ,
       105.        , 116.        , 106.        ])