In [46]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression

In [60]:
data = pd.read_excel("test.xlsx")
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [61]:
data=data[data["power"]>100]
data.shape

(756, 10)

In [62]:
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [63]:
# Change object to integer:
data[data["fuel_type"]=="A"] = 1 
data[data["fuel_type"]=="B"] = 2
data[data["fuel_type"]=="C"] = 3

In [64]:
data['fuel_type'].value_counts()

1    508
Name: fuel_type, dtype: int64

In [65]:
data["fuel_type"].fillna(method='bfill', inplace=True)

In [66]:
data.isnull().sum()

hour           0
date_miladi    0
date_shamsi    0
code           0
unit_no        0
fuel_type      0
mvar           0
temp           0
moisture       0
power          0
dtype: int64

In [67]:
data.fillna(data.mean, inplace=True)

In [76]:
X = data[["moisture","unit_no","fuel_type","temp"]]
y = data[["power"]]
y

     power
0        1
1        1
2        1
3        1
4        1
..     ...
994      1
995      1
996      1
997      1
998      1

[756 rows x 1 columns]

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

ValueError: Found input variables with inconsistent numbers of samples: [756, 248]

In [34]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
y_train = np.array(y_train)

In [35]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

NameError: name 'LinearRegression' is not defined