In [27]:
import pandas as pd
data = pd.read_excel("estimate_power.xlsx")
data.head()

,hour,date_miladi,date_shamsi,power,code,unit_no,fuel_type,mvar,temp,moisture
0,1,2020-01-13,1398/10/23,119,SO,1,A,11.0,3,94.0
1,2,2020-01-13,1398/10/23,119,SO,1,A,11.0,3,96.0
2,3,2020-01-13,1398/10/23,120,SO,1,A,10.0,2,95.0
3,4,2020-01-13,1398/10/23,120,SO,1,A,11.0,2,95.0
4,5,2020-01-13,1398/10/23,121,SO,1,A,11.0,2,95.0

In [28]:
def unit_info(unit_no,min_mw,max_mw,fuel):
    unit_max=(data['power'][data['unit_no']==unit_no][data['fuel_type']==fuel]).max()
    unit_min=(data['power'][data['unit_no']==unit_no][data['fuel_type']==fuel]).min()
    #percent=(len(data['power'][data['power']>=min_mw][data['power']<=max_mw][data['unit_no']==unit_no][data['fuel_type']==fuel])/len(data['power'][data['unit_no']==unit_no][data['fuel_type']==fuel]))*100
    return unit_min,unit_max

In [29]:
unit_info(1,0,100,'B')

(26, 122)

In [30]:
data.isnull().sum()

hour               0
date_miladi        0
date_shamsi        0
power              0
code               0
unit_no            0
fuel_type      92375
mvar               0
temp               0
moisture           0
dtype: int64

In [32]:
data['fuel_type'].value_counts()

A    162981
C     11070
B     10701
Name: fuel_type, dtype: int64

In [33]:
# Change object to integer:
data[data["fuel_type"]=="A"] = 1 
data[data["fuel_type"]=="B"] = 2
data[data["fuel_type"]=="C"] = 3

In [34]:
data['fuel_type']

0           1
1           1
2           1
3           1
4           1
         ...
277122    NaN
277123    NaN
277124    NaN
277125    NaN
277126    NaN
Name: fuel_type, Length: 277127, dtype: object

In [35]:
data['fuel_type'].value_counts()

1    162981
3     11070
2     10701
Name: fuel_type, dtype: int64

In [37]:
X = data[["moisture","unit_no","fuel_type","mvar","temp"]]
Y = data["power"]

In [38]:
X

        moisture  unit_no fuel_type  mvar  temp
0            1.0        1         1   1.0     1
1            1.0        1         1   1.0     1
2            1.0        1         1   1.0     1
3            1.0        1         1   1.0     1
4            1.0        1         1   1.0     1
...          ...      ...       ...   ...   ...
277122       8.0        9       NaN  54.0    34
277123       9.0        9       NaN  53.0    32
277124      11.0        9       NaN  50.0    31
277125      10.0        9       NaN  51.0    30
277126      12.0        9       NaN  53.0    29

[277127 rows x 5 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=45)