In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression,Ridge, Lasso 
from sklearn.ensemble import RandomForestRegressor,VotingRegressor
from mlxtend.regressor import StackingCVRegressor
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [14]:
data = pd.read_excel("Estimate_power2.xlsx")
data.head()

   hour  unit_no fuel_type  temp  moisture  power  mvar
0     1        1         A     3        94    250    22
1     2        1         A     3        96    250    23
2     3        1         A     2        95    250    23
3     4        1         A     2        95    251    25
4     5        1         A     2        95    252    26

In [15]:
data=data[data["power"]>100]
data.shape

(999, 7)

In [16]:
# Change object to integer:
data["fuel_type"][data["fuel_type"]=="A"] = 1; 
data["fuel_type"][data["fuel_type"]=="B"] = 2;
data["fuel_type"][data["fuel_type"]=="C"] = 3;

In [17]:
data['fuel_type'].value_counts()

1    711
Name: fuel_type, dtype: int64

In [18]:
data["fuel_type"].fillna(method='bfill', inplace=True)

In [19]:
data.isnull().sum()

hour         0
unit_no      0
fuel_type    0
temp         0
moisture     0
power        0
mvar         0
dtype: int64

In [20]:
X = data[["moisture","unit_no","temp","fuel_type","power"]]
y = data[["mvar"]]
y

     mvar
0      22
1      23
2      23
3      25
4      26
..    ...
994    15
995    15
996    14
997    16
998    16

[999 rows x 1 columns]

In [21]:
X

     moisture  unit_no  temp  fuel_type  power
0          94        1     3          1    250
1          96        1     3          1    250
2          95        1     2          1    250
3          95        1     2          1    251
4          95        1     2          1    252
..        ...      ...   ...        ...    ...
994         6        6    15          1    224
995         8        6    16          1    240
996        21        6    18          1    238
997        11        6    19          1    236
998        19        6    19          1    237

[999 rows x 5 columns]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [23]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [24]:
lr = LinearRegression() 
svr = SVR(C=100, epsilon=10, kernel='rbf')
rf = RandomForestRegressor(n_estimators=1000, max_depth=5)

In [25]:
ensemble = VotingRegressor(estimators=[('lr', lr), ('svr', svr), ('rf', rf)])
ensemble.fit(X_train_scaled, y_train)
y_pred = ensemble.predict(X_test_scaled)

In [26]:
mse=mean_squared_error(y_pred,y_test)
r2=r2_score(y_pred,y_test)
print("Mean squared error:",mse)
print("R-squared:",r2)

Mean squared error: 62.119913110782456
R-squared: 0.4780880558979901