In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = [[1, 50], [2, 30],[3,40]]

In [4]:
scaler = MinMaxScaler()

In [5]:
scaler.fit(data);

In [6]:
scaler.data_min_

array([ 1., 30.])

In [7]:
scaler.data_max_

array([ 3., 50.])

In [8]:
scaler.transform(data)   # (x-min) / (max-min)

array([[0. , 1. ],
       [0.5, 0. ],
       [1. , 0.5]])

In [ ]:
#normalize

In [9]:
from sklearn.preprocessing import normalize

In [10]:
data

[[1, 50], [2, 30], [3, 40]]

In [11]:
n1=normalize(data,norm='l1',axis=0)
n1

array([[0.16666667, 0.41666667],
       [0.33333333, 0.25      ],
       [0.5       , 0.33333333]])

In [12]:
n2=normalize(data,norm='l2',axis=0)
n2

array([[0.26726124, 0.70710678],
       [0.53452248, 0.42426407],
       [0.80178373, 0.56568542]])

In [ ]:
#example

In [13]:
import pandas as pd

In [14]:
data = {'age':[18,35,37,42,55,70],
        'salary':[1000000,2000000,2500000,3000000,4000000,7000000]}

In [15]:
df=pd.DataFrame(data)
df

   age   salary
0   18  1000000
1   35  2000000
2   37  2500000
3   42  3000000
4   55  4000000
5   70  7000000

In [16]:
scaler = MinMaxScaler()

In [19]:
%%capture
scaler.fit(df);

In [20]:
scaler.data_min_

array([1.8e+01, 1.0e+06])

In [21]:
scaler.data_max_

array([7.e+01, 7.e+06])

In [22]:
n1=normalize(df,norm='l1',axis=0)
n1

array([[0.07003891, 0.05128205],
       [0.13618677, 0.1025641 ],
       [0.14396887, 0.12820513],
       [0.16342412, 0.15384615],
       [0.21400778, 0.20512821],
       [0.27237354, 0.35897436]])

In [23]:
n2=normalize(df,norm='l2',axis=0)
n2

array([[0.16031222, 0.10830607],
       [0.31171821, 0.21661214],
       [0.32953067, 0.27076518],
       [0.37406185, 0.32491822],
       [0.48984289, 0.43322429],
       [0.62343641, 0.75814251]])

In [24]:
scaler.transform(df)   # (x-min) / (max-min)

array([[0.        , 0.        ],
       [0.32692308, 0.16666667],
       [0.36538462, 0.25      ],
       [0.46153846, 0.33333333],
       [0.71153846, 0.5       ],
       [1.        , 1.        ]])