In [2]:
import pandas as pd
data = pd.read_excel("estimate_power.xlsx")
data.head()

,hour,date_miladi,date_shamsi,power,code,unit_no,fuel_type,mvar,temp,moisture
0,1,2020-01-13,1398/10/23,119,SO,1,A,11.0,3,94.0
1,2,2020-01-13,1398/10/23,119,SO,1,A,11.0,3,96.0
2,3,2020-01-13,1398/10/23,120,SO,1,A,10.0,2,95.0
3,4,2020-01-13,1398/10/23,120,SO,1,A,11.0,2,95.0
4,5,2020-01-13,1398/10/23,121,SO,1,A,11.0,2,95.0

In [67]:
def unit_info(unit_no,min_mw,max_mw,fuel):
    unit_max=(data['power'][data['unit_no']==unit_no][data['fuel_type']==fuel]).max()
    unit_min=(data['power'][data['unit_no']==unit_no][data['fuel_type']==fuel]).min()
    #percent=(len(data['power'][data['power']>=min_mw][data['power']<=max_mw][data['unit_no']==unit_no][data['fuel_type']==fuel])/len(data['power'][data['unit_no']==unit_no][data['fuel_type']==fuel]))*100
    return unit_min,unit_max

In [80]:
unit_info(1,0,100,'B')

(26, 122)

In [81]:
data.groupby('unit_no').count()

,hour,date_miladi,date_shamsi,power,code,fuel_type,mvar,temp,moisture
unit_no,,,,,,,,,
1,30792,30792,30792,30792,30792,30792,30792,30792,30792
2,30792,30792,30792,30792,30792,30792,30792,30792,30792
3,30792,30792,30792,30792,30792,30792,30792,30792,30792
4,30792,30792,30792,30792,30792,30792,30792,30792,30792
5,30792,30792,30792,30792,30792,30792,30792,30792,30792
6,30792,30792,30792,30792,30792,30792,30792,30792,30792
7,30792,30792,30792,30792,30792,0,30792,30792,30792
8,30792,30792,30792,30792,30792,0,30792,30792,30792
9,30791,30791,30791,30791,30791,0,30791,30791,30791

In [33]:
data.isnull().sum()

hour               0
date_miladi        0
date_shamsi        0
power              0
code               0
unit_no            0
fuel_type      92375
mvar               0
temp               0
moisture           0
dtype: int64

In [23]:
X = data[["moisture","unit_no","fuel_type","mvar","temp"]]
Y = data["power"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=45)